  footer{
    background-color: rgba(0, 0, 0, 0.781);
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #direitos{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 10px;
  }
  #redes{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(133, 162, 255);
    margin-right: 10px;
  }
  a{
    color: rgb(133, 162, 255);
    text-emphasis-color: rgb(133, 162, 255);
  }