  footer{
    background-color: rgba(0, 0, 0, 0.781);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }
  #direitos{
    text-align: center;
    color: white;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 30px;
  }
  #redes{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(133, 162, 255);
    padding-left: 350px;
    margin-top: -15px;
  }
  a{
    color: rgb(133, 162, 255);
    text-emphasis-color: rgb(133, 162, 255);
  }